.box { 
    width:1000px;
    float:right;
    border:1px solid black; }

    .box ul li {
        width:120px;
        float:left;
        margin: 10px auto;
        text-align: center;
    }
    .box ul li a { text-decoration: none;
        color: white;
    }
    .box ul li:hover { background-color: blue;}
    .box ul li a:hover { color:white;}
    body{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-image: url(./images/bg.jpg);
        background-size: cover;
    }
    .sidebar { 
        height:700px;
        width: 200px;
        float:left;
        border:1px solid black; }
    
        .sidebar ul li {
            width:120px;
            float:left;
            margin: 10px auto;
            text-align: center;
        }
        .sidebar ul li a { text-decoration: none;
            color: white;
        }
        .sidebar ul li:hover { background-color: blue;}
        .sidebar ul li a:hover { color:white;}