.sidebar { 
  height:400px;
  width: 200px;
  border:1px solid white; }
.head {
  text-align:center;
  max-width: 50%;
  margin: auto;
}
  .sidebar ul li {
      width:100px;
      float:right;
      margin: 10px auto;
      text-align: center;
  }
  .sidebar ul li a { text-decoration: none;
      color: white;
  }
  .sidebar ul li:hover { background-color: blue;
  }
  .sidebar ul li a:hover { color:white;
  }
  .container-2 {
    width: 1200px;
    height:100px;
    text-align:right;
  }
  .container-3 {
    width: 1000px;
    text-align: center;
    font-style: italic;
    padding: 10px;
    border: 3px solid aqua;
    margin: auto;
  }
  body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-image: url(./images/bg2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}
  .container-4 {
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 10px;
    border: 3px solid aqua;
    margin: auto;
    @import url(http://fonts.googleapis.com/css?family=Lato:100,900);
  }
  